<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://lockerfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f35b12dc-dfd1-4235-8e0e-72f1819de2b7/resourceGroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/lockerFunctionApp</ResourceId>
    <UserName>$lockerFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://lockerfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>