<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>tomerm1@mail.tau.ac.il</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://skeletonprojectfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3672fa05-394e-485f-ac1a-3a94c36e043e/resourcegroups/daniel/providers/Microsoft.Web/sites/SkeletonProjectFunctions</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://skeletonprojectfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>